* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;
  position: relative;
}
.instructions {
  background-color: #fafaf8;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.instructions h1,
.instructions button {
  font-weight: 500;
  margin-block: 20px;
}
.instructions p {
  max-width: 400px;
  line-height: 2;
}
.instructions span {
  background-color: #d17557;
  color: #fafaf8;
  padding: 5px;
  font-family: Inter, sans-serif;
  border-radius: 6px;
}
.instructions button {
  flex-basis: auto;
  font-size: 22px;
  padding: 5px 10px;
}
header {
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header button {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
header button img {
  height: 32px;
  width: 32px;
}
.logo-container {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container img {
  width: 100%;
  max-width: 43px;
  height: auto;
}
.logo-container span {
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  letter-spacing: -5%;
}
main {
  padding: 63px;
  max-width: 1200px;
  margin: 0 auto;
}
form {
  width: 100%;
  display: flex;
  gap: 12px;
}
input,
button {
  border-radius: 6px;
  font-size: 14px;
  height: 38px;
}
input {
  flex-basis: 60%;
  border: 1px solid #d1d5db;
  padding: 0 12px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
input::placeholder {
  color: #6b7280;
}
button {
  flex-basis: 40%;
  border: none;
  background-color: black;
  color: #fafaf8;
  cursor: grab;
}
form button::before {
  content: "+";
  margin-right: 5px;
}
.get-recipe-container {
  border-radius: 8px;
  background: #f0efeb;
  padding: 10px 28px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}
.generate-recipe {
  display: flex;
  gap: 20px;
  align-items: center;
}
.get-recipe-container p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #d17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #fafaf8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
  flex-shrink: 0;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
}
@media screen and (max-width: 540px) {
  main {
    padding: 30px;
  }
}
@media screen and (max-width: 365px) {
  form {
    flex-wrap: wrap;
  }
  input,
  button {
    flex-basis: 100%;
  }
}
